body
{
    background-position: center;
    background-size: cover;
}

.heading
{
    font-size: 24px;
    width: 100%;
    margin: 0;
}

#status, #number_of_objects
{
    font-size: 22px;
}

canvas
{
    box-shadow: 5px 5px 5px goldenrod;
    border-radius: 10px;
    margin: 30px;
}